rules_version = '2';

// Force deployment at: 2025-02-18T18:30:00Z (Updated for Expert Module Demo)
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
